:root {
  --bg-color: black;
  --text-color: white;
  --text-secondary-color: #bbb;
  --border-color: #444;
}

* {
  color: var(--text-color);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html {
  font-size: min(max(12px, 2vw), 16px);
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

footer {
  height: 4rem;
}

.tag {
  font-size: max(12px, 0.8rem);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin: 2px;
  padding: 2px 6px;
  text-align: center;
  color: var(--text-secondary-color);
  cursor: pointer;
  transition: all linear 0.2s;
}

/* Homepage */

#homepage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage__introduction {
  height: 15rem;
}

.homepage__down-arrow {
  position: absolute;
  bottom: 1vh;
  cursor: pointer;
}

.homepage__down-arrow svg use {
  transition: all linear 0.15s;
  color: var(--text-secondary-color);
}

.homepage__down-arrow:hover svg use {
  color: var(--text-color);
}

.homepage__down-arrow svg {
  transition: all linear 0.15s;
  width: 4rem;
}

.homepage__down-arrow:hover svg {
  width: 4.6rem;
}

#work-page {
  padding: 0.5rem 0;
}

/* Work Experiences */

.work {
  position: relative;
  display: flex;
  flex-direction: column;
}

.work__experiences {
  display: flex;
  flex-direction: column;
  z-index: 1; /* ensure timeline is in the background */
}

.work__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.3rem 0;
}

.work__year {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: var(--text-color);
  border: 2px solid var(--bg-color);
  color: var(--bg-color);
  display: inline-block;
  width: 3.5rem;
  left: 2rem;
  text-align: center;
  position: relative;
}

.work__line {
  width: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3.75rem;
}

.work__job {
  max-width: 24rem;
  margin: 1rem 1rem 1rem 6rem;
}

.work__company {
  padding: 0 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.work__job-title {
  padding: 0 2px;
  font-family: 'Noto Serif', serif;
  font-size: 1.2rem;
  font-style: italic;
}

.work__freelance {
  color: var(--text-secondary-color);
  font-family: 'Noto Serif', serif;
  font-size: 0.9rem;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  .work,
  .work__experiences {
    align-items: center;
  }

  .work__year {
    left: initial;
  }

  .work__line {
    left: initial;
  }

  .work__job {
    width: 18rem;
    margin-left: initial;
  }

  .work__job--right {
    margin-left: 24rem;
  }

  .work__job--left {
    margin-right: 24rem;
    text-align: right;
  }

  .work__job--left .work__tags {
    justify-content: flex-end;
  }
}
